.agrupador input:checked ~ .checkmark {
  border-radius: 50%;
  background-color: purple;
}

.agrupador:hover input ~ .checkmark {
  background-color: #ccc;
}

.agrupador {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 15px;
}

.agrupador input {
  position: absolute;
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

